<div class="default-result-container selection-entity-content clearfix flex">
    {{#equal (toLowerCase database) 'places'}}
        {{#hasField 'WIKIPEDIA_IMAGE'}}
            <span class="pull-left m-t-xs m-b-xs m-r-sm">
                <img src="{{ wikiThumbnailHelper (getFieldValue 'WIKIPEDIA_IMAGE') 200 }}">
            </span>
        {{/hasField}}

        <div class="results-contents">
            <h4 class="m-l-xs m-t-xs m-b-nil result-header">
                {{#hasField 'PLACE_COUNTRY_CODE'}}
                    <img style="max-height: 18px;" src="static-HEAD/img/flags.wp/{{toLowerCase (getFieldValue 'PLACE_COUNTRY_CODE')}}.svg">
                {{/hasField}}
                {{title}}
            </h4>
            {{#hasField 'latitude'}}
                {{#hasField 'longitude'}}
                    <div class="mercator-svg-map">
                        <div class="mercator-svg-marker" style="width: 4px; height: 4px; border-radius: 2px;
                            left: {{ percentage (getFieldValue 'longitude') max=180 min=-180}};
                            bottom: {{ percentage (getFieldValue 'latitude') max=90 min=-90}};
                        "></div>
                    </div>
                {{/hasField}}
            {{/hasField}}
            {{#hasField 'PLACE_REGION1'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.place.region'}}: {{getFieldValue 'PLACE_REGION1'}}</div>
            {{/hasField}}
            {{#hasField 'PLACE_POPULATION'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.place.population'}}: {{prettyPrintNumber (getFieldValue 'PLACE_POPULATION')}}</div>
            {{/hasField}}
            {{#hasField 'PLACE_TIMEZONE'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.place.timeZone'}}: {{prettyPrintNumber (getFieldValue 'PLACE_TIMEZONE') plusIfPositive=true }}</div>
            {{/hasField}}
        </div>
    {{/equal}}
    {{#equal (toLowerCase database) 'people'}}
        {{#hasField 'WIKIPEDIA_IMAGE'}}
            <span class="pull-left m-t-xs m-b-xs m-r-sm">
                <img src="{{ wikiThumbnailHelper (getFieldValue 'WIKIPEDIA_IMAGE') 200 }}">
            </span>
        {{/hasField}}

        <div class="results-contents">
            <h4 class="m-l-xs m-t-xs m-b-nil result-header">
                {{title}}
            </h4>
            {{#hasField 'PERSON_DATE_OF_BIRTH'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.person.dateOfBirth'}}: {{getFieldValue 'PERSON_DATE_OF_BIRTH'}}</div>
            {{/hasField}}
            {{#hasField 'PERSON_DATE_OF_DEATH'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.person.dateOfDeath'}}: {{getFieldValue 'PERSON_DATE_OF_DEATH'}}</div>
            {{/hasField}}
            {{#hasField 'PERSON_PROFESSION'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.person.profession'}}: {{getFieldValues 'PERSON_PROFESSION' max=5}}</div>
            {{/hasField}}
        </div>
    {{/equal}}
    {{#equal (toLowerCase database) 'companies'}}
        {{#hasField 'COMPANY_GOOGLE'}}
            <span class="pull-left m-t-xs m-b-xs m-r-sm">
                <img src="{{ placeholderTemplate (getFieldValue 'COMPANY_GOOGLE') 'https://finance.google.co.uk/finance/getchart?q=$1$&x=$0$&p=7d&i=240' delimiter=':' }}">
            </span>
        {{/hasField}}

        <div class="results-contents">
            <h4 class="m-l-xs m-t-xs m-b-nil result-header">
                {{title}}
            </h4>
            {{#hasField 'URL_HOMEPAGE'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.companies.url'}}: <a target="_blank" href="{{toExternalUrl (getFieldValue 'URL_HOMEPAGE')}}">{{getFieldValue 'URL_HOMEPAGE'}}</a></div>
            {{/hasField}}
            {{#hasField 'COMPANY_GOOGLE'}}
                <div class="m-l-xs">{{i18n 'entitySearch.template.companies.stockTicker'}}: <a target="_blank" href="https://finance.google.co.uk/finance?q={{getFieldValue 'COMPANY_GOOGLE'}}">{{getFieldValue 'COMPANY_GOOGLE'}}</a></div>
            {{/hasField}}
        </div>
    {{/equal}}
</div>
