<div class="default-result-container selection-entity-content clearfix selection-entity-db-{{toLowerCase database}}-border">

    {{#equal (toLowerCase database) 'places'}}
        <div class="selection-entity-icon hp-icon hp-globe selection-entity-db-{{toLowerCase database}}-color"></div>
    {{/equal}}
    {{#equal (toLowerCase database) 'people'}}
        <div class="selection-entity-icon hp-icon hp-user-m selection-entity-db-{{toLowerCase database}}-color"></div>
    {{/equal}}
    {{#equal (toLowerCase database) 'companies'}}
        <div class="selection-entity-icon hp-icon hp-resources selection-entity-db-{{toLowerCase database}}-color"></div>
    {{/equal}}

    <div class="flex flex-align-center m-b-xs">
    {{#equal (toLowerCase database) 'places' 'placesextended'}}
        {{#getFieldValue 'WIKIPEDIA_IMAGE'}}
            <span class="pull-left m-t-xs m-b-xs m-r-sm">
                <img alt="" class="max-half-screen-height" src="{{ wikiThumbnailHelper this 200 }}">
            </span>
        {{/getFieldValue}}

        <div class="results-contents">
            <h4 class="m-l-xs m-t-xs m-b-nil result-header">
                {{#getFieldValue 'PLACE_COUNTRY_CODE'}}
                    <img alt="" style="max-height: 18px; max-width: 36px;" src="static-HEAD/img/flags.wp/{{toLowerCase this}}.svg">
                {{/getFieldValue}}
                <a class="selection-entity-db-places-color" target="_blank" href="https://en.wikipedia.org/wiki/{{ getFieldValue 'WIKIPEDIA_ENG' }}">{{title}}</a>
            </h4>
            {{#hasField 'latitude'}}
                {{#hasField 'longitude'}}
                    <div class="mercator-svg-map">
                        <div class="mercator-svg-marker selection-entity-db-places-background-color" style="width: 4px; height: 4px; border-radius: 2px;
                            left: {{ percentage (getFieldValue 'longitude') max=180 min=-180}};
                            bottom: {{ percentage (getFieldValue 'latitude') max=90 min=-90}};
                        "></div>
                    </div>
                {{/hasField}}
            {{/hasField}}
            <table class="m-l-xs">
                {{#getFieldValue 'PLACE_REGION1'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.place.region'}}</th><td>{{this}}</td>
                    </tr>
                {{/getFieldValue}}
                {{#getFieldValue 'PLACE_POPULATION'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.place.population'}}</th><td>{{prettyPrintNumber this}}</td>
                    </tr>
                {{/getFieldValue}}
                {{#getFieldValue 'PLACE_TIMEZONE'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.place.timeZone'}}</th><td>{{prettyPrintNumber this plusIfPositive=true }}</td>
                    </tr>
                {{/getFieldValue}}
            </table>
        </div>
    {{/equal}}
    {{#equal (toLowerCase database) 'people'}}
        {{#getFieldValue 'WIKIPEDIA_IMAGE'}}
            <span class="pull-left m-t-xs m-b-xs m-r-sm">
                <img alt="" class="max-half-screen-height" src="{{ wikiThumbnailHelper this 200 }}">
            </span>
        {{/getFieldValue}}

        <div class="results-contents">
            <h4 class="m-l-xs m-t-xs m-b-nil result-header">
                <a class="selection-entity-db-{{toLowerCase database}}-color" target="_blank" href="https://en.wikipedia.org/wiki/{{ getFieldValue 'WIKIPEDIA_ENG' }}">{{title}}</a>
            </h4>
            <table class="m-l-xs">
                {{#getFieldValue 'PERSON_DATE_OF_BIRTH'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.person.dateOfBirth'}}</th><td>{{this}}</td>
                    </tr>
                {{/getFieldValue}}
                {{#getFieldValue 'PERSON_DATE_OF_DEATH'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.person.dateOfDeath'}}</th><td>{{this}}</td>
                    </tr>
                {{else}}
                    {{#getFieldValue 'PERSON_DATE_OF_BIRTH'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.person.age'}}</th><td>{{toRelativeTime this hideSuffix=true round='floor'}}</td>
                    </tr>
                    {{/getFieldValue}}
                {{/getFieldValue}}
                {{#hasField 'PERSON_PROFESSION'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.person.profession'}}</th><td>{{getFieldValues 'PERSON_PROFESSION' max=5}}</td>
                    </tr>
                {{/hasField}}
            </table>
        </div>
    {{/equal}}
    {{#equal (toLowerCase database) 'companies'}}
        {{#getFieldValue 'COMPANY_GOOGLE'}}
            <span class="pull-left m-t-xs m-b-xs m-r-sm">
                <img alt="" src="{{ placeholderTemplate this 'https://finance.google.co.uk/finance/getchart?q=$1$&x=$0$&p=7d&i=240' placeholder='$' delimiter=':' }}">
            </span>
        {{/getFieldValue}}

        <div class="results-contents">
            <h4 class="m-l-xs m-t-xs m-b-nil result-header">
                <a class="selection-entity-db-{{toLowerCase database}}-color" target="_blank" href="https://en.wikipedia.org/wiki/{{ getFieldValue 'WIKIPEDIA_ENG' }}">{{title}}</a>
            </h4>
            <table class="m-l-xs">
                {{#getFieldValue 'URL_HOMEPAGE'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.companies.url'}}</th><td><a class="selection-entity-db-{{toLowerCase database}}-color" target="_blank" href="{{toExternalUrl this}}">{{this}}</a></td>
                    </tr>
                {{/getFieldValue}}
                {{#getFieldValue 'COMPANY_GOOGLE'}}
                    <tr>
                        <th class="selection-entity-header">{{i18n 'entitySearch.template.companies.stockTicker'}}</th><td><a class="selection-entity-db-{{toLowerCase database}}-color" target="_blank" href="https://finance.google.co.uk/finance?q={{this}}">{{this}}</a></td>
                    </tr>
                {{/getFieldValue}}
            </table>
        </div>
    {{/equal}}
    </div>

    {{#getFieldValue 'WIKIPEDIA_ENG'}}
        <div>
            <div class="entity-search-messages"></div>
            <div class="entity-search-controls clearfix">
                <form>
                    <input class="entity-search-question" data-context="{{ this }}" name="query" type="text" autocomplete="off" placeholder="{{i18n 'entitySearch.template.question.placeholder'}}">
                    <input class="btn btn-primary pull-right" type="submit" value="{{i18n 'entitySearch.template.question.send'}}">
                </form>
            </div>
        </div>
    {{/getFieldValue}}

    <button type="button" class="close selection-entity-close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
