{{#hasField 'transcript'}}
    <div class="font-bold">{{i18n 'search.document.transcript'}}</div>
    <div class="preview-mode-metadata-value">{{getFieldValue 'transcript'}}</div>
{{/hasField}}
{{#each fields}}
    {{#unless advanced}}
        <div class="break-all">
            <div class="font-bold">{{displayName}}</div>
            <ul class="list-unstyled m-b-nil">
                {{#each values}}
                    {{#equal (typeof this) 'object'}}
                        <li>{{jsonStringify this}}</li>
                    {{else}}
                        <li>{{.}}</li>
                    {{/equal}}
                {{/each}}
            </ul>
        </div>
    {{/unless}}
{{/each}}
