<div class="default-result-container">
    <span class="pull-left m-t-xs text-muted m-r-sm content-type"><i class="{{icon}}"></i></span>
    <span class="pull-right m-t-xs m-l-sm"><i class="document-selected-indicator"></i></span>
    <div class="results-contents">
        <h4 class="pull-left m-b-nil m-t-xs result-header">
            {{#if intentRankedHit}}
                <i class="hp-icon hp-user-document document-intent-based-ranking"></i>
            {{/if}}
            {{title}}
        </h4>
        <span class="document-date pull-left m-t-xs m-l-xs">{{age}}</span>
        {{#if url}}
            <span class="document-url shorten"><a href="{{url}}" target="_blank">{{url}}</a></span>
        {{else}}
            <span class="document-reference shorten">{{reference}}</span>
        {{/if}}
        {{#if thumbnailSrc}}
            <img class="document-thumbnail m-r-sm pull-left" src="{{thumbnailSrc}}"/>
        {{/if}}
        <p class="result-summary">
            {{{summary}}}
        </p>
        <span class="text-right results-small-links">
            <a href="{{similarDocumentsUrl}}" class="similar-documents-trigger result-container-control" role="button" tabindex="-1">
                {{i18n 'search.similarDocuments'}}
            </a>
        </span>
    </div>
</div>
